<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div id="note"></div>
    <%- include('../partials/notifications') %>
    <!-- Content here -->
    <%- body %>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const url2 = 'http://localhost:3000/api/moves/asdfghjk';
    axios.get(url2, {
      name: 'Fred',
      from: 'Flintstone',
      to: 'to',
    })
      .then(({ data }) => {
        const note = document.getElementById('note');
        note.innerHTML = data.name;
        console.log(data);
      })
      .catch((error) => {
        console.log(error);
      });
  </script>
</body>
</html>