<h2>Crea una mudanza</h2>
<form action="/moves" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="name">
  <label for="origin">origin</label>
  <input type="text" name="origin" id="origin">
  <label for="destination">destination</label>
  <input type="text" name="destination" id="destination">
  <input type="submit" value="create">
</form>